<div class="modal fade show" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
          <div class="form-group">
            <label for="name">Character Name</label>
            <input type="text" id="name" name="name" class="form-control" [ngModel]="defaultName" required #nameCtrl="ngModel">
            <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched">Please enter name!</span>
          </div>
          <div class="form-group">
            <label for="side">Choose Side</label>
            <select name="side" id="side" class="form-control" ngModel>
              <option *ngFor="let option of aviableSide" [value]="option.value"> {{ option.display}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add Character</button>
        </form>
      </div>
    </div>
  </div>
</div>
