.navbar {
  border-bottom: 1px solid #E5E9EC;
  background: #ffffff;
  padding: 15px 30px;
  .nav-link {
    font-size: 14px;
    line-height: 19px;
    color: #424242;
  }
  .dropdown-toggle::after {
    border: none;
    mask: url("/assets/img/arrow-ico.svg") no-repeat center;
    width: 12px;
    height: 12px;
    background: #b2b7bb;
  }
}
.language-flag {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.dropdown {
  .dropdown-menu {
    min-width: inherit;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 6px 6px;
    border: none;
    overflow: hidden;
  }
  .dropdown-item {
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    color: #424242;
    display: flex;
    align-items: center;
    &:hover {
      background: #EBEBEB;
    }
  }
  &.show {
    .dropdown-menu {
      display: block;
    }
  }
}
