mat-toolbar-row {
  height: auto;
  padding: 0;
}

.navbar {
  border-bottom: 1px solid #E5E9EC;
  background: #ffffff;
  padding: 10px 30px;
  width: 100%;
  .navbar-brand, .nav-link {
    &:focus {
      outline: none;
    }
  }
  .nav-link {
    font-size: 14px;
    line-height: 19px;
    color: #424242;
    display: flex;
    align-items: baseline;
  }
  .dropdown-toggle::after {
    border: none;
    mask: url("/assets/img/arrow-ico.svg") no-repeat center;
    width: 12px;
    height: 12px;
    background: #b2b7bb;
  }
}

.language-flag {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.form-group {
  position: relative;
}

.state-container-dropdown {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 200px;
  max-height: 300px;
  background: #fcfcdc;
}
