<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/"><img src="./assets/img/travelvee-logo.svg" alt=""></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="btn btn-primary rounded-pill">Для отельеров</div>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="nav-link" mat-button (click)="openDialog()">Sign in</div>
        </li>

        <li class="nav-item">
          <button mat-button [matMenuTriggerFor]="beforeMenu">EN</button>
          <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item *ngFor="let option of languages">
              <img src="{{ option.flag }}" alt="" class="language-flag">
              {{ option.name }}
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>
