<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/"><img src="./assets/img/travelvee-logo.svg" alt=""></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="btn btn-primary rounded-pill">Для отельеров</div>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="open(content)">Sign in</a>
        </li>
        <li class="nav-item" ngbDropdown>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdown2" role="button">EN</a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#" *ngFor="let option of languages">
              <img src="{{ option.flag }}" alt="" class="language-flag">
              {{ option.name }}
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Sign in</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="myform" ng-submit="register()" novalidate>
      <div class="form-group">
        <input id="phone" class="form-control" (click)="toggleDropdown()" placeholder="+44 (___) ___-__-__" name="phone" autocomplete="off">
        <div *ngIf="showDropdown" class="state-container-dropdown">
          <div>
            <div *ngFor="let items of phoneList">
              <img src="{{ items.flag }}" alt="" class="language-flag">
              <span>{{items.code}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input id="password" class="form-control" placeholder="Пароль" name="password">
      </div>
      <div class="form-group d-flex">
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" formControlName="left" ngbButton> Запомнить меня
        </label>
        <a href="#" class="ml-auto">Забыли пароль?</a>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary rounded-pill w-100">Войти</button>
      </div>
      <div class="form-group">
        <div class="dont-registration text-center">Не зарегистрированы ? <a href="#">Зарегистрироваться</a></div>
      </div>
      <div class="form-group login-social d-flex flex-column">
        <a href="#" class="btn border-primary rounded-pill mb-2">Войти с помощью Facebook</a>
        <a href="#" class="btn border-primary rounded-pill">Войти с помощью Google</a>
      </div>
    </form>
  </div>
</ng-template>
