.hotelier-login {
  background: #F5F9FC;
  padding: 60px 0;
  height: calc(100% - 80px);
  &__item {
    margin: auto;
    max-width: 410px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background: #ffffff;
  }
}

mat-toolbar {
  background: none;
  height: auto;
  padding: 0;
}